.app{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.movie-card{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: stretch;
}
img{
  width: 350px;
  height: 120px;
object-fit: cover;
}
.mvDetails{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
button{
  width: 100px;
  height: 25px;
  border: none;
  background-color: hsl(316, 83%, 65%);
 padding: 5px;
 border-radius: 5px;
 color: white;
}